<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Log in</title>
   
</head>
 
<body>
    <div id="loginDiv">
        <form action="login.html" id="form">
            <h1>Welcome to DeFile Archive</h1>
            <p>User name:<input id="userNname" type="text"><label id="name_trip"></label></p>
 
            <p>Password: <input id="password" type="password"><label id="password_trip"></label></p>
            
            <div style="text-align: center;margin-top: 30px;">
                <a style="color:beige;"href="register.html">Do not have an account?</a>
            </div>
            
            
            <div style="text-align: center;margin-top: 30px;">

                <input type="submit" class="button" onclick="window.open(document.URL, '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');" value="Login">
                <input type="reset" class="button" value="Reset">
            </div>
        </form>
    </div>
 
 
</body></html>

