<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/index.css">
  <style>
    body {
      width: 600px;
      position: fixed;
      top: 20%;
      left: 30%;
    }
  </style>
</head>

<body>
  <h2>Welcome to Meta File World State</h2>


  <!-- Main part -->
  <div class="login_info" id="app" v-cloak>

    <div class="login_input">
      <p>Private Key</p>
      <input type="text" v-model="privateKey">
    </div>

    <div class="button_wrap">
      <a href="#" @click="loginSystem">Login</a>
      <a href="#" @click="registerNew">Register</a>
      <a href="userInfo.html" @click="logoutSystem">Guest</a>
    </div>

    <div v-if="registered" class="dialog">
      <div class="dialog_content">
        <p>Your private key is:</p>
        <p v-text="newKey"></p>

        <div class="button">
          <a href="#" @click="backLogin">Back</a>
        </div>
      </div>
    </div>

  </div>
  <!-- Main part -->


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>



</body>

</html>