<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <h2>Upload</h2>


  <!-- Main part -->
  <div class="upload_info" id="app" v-cloak>
    <div class="info">
      <div class="label">File</div>
      <div class="content file_content">
        <label for="file" v-if="file == 'N.A.'">Drag your file here</label>
        <label for="file" v-if="file != 'N.A.'" v-text="fileName"></label>
        <input type="file" id="file" @change="onChange">
      </div>
      <div class="clear"></div>
    </div>

    <div class="info">
      <div class="label">Permission Level</div>
      <div class="content">
        <select name="" id="" v-model="permissionLevel">
          <option v-for="(lv, index) in allLv" :key="index" v-text="lv"></option>
        </select>
      </div>
      <div class="clear"></div>
    </div>

    <div class="info">
      <div class="label">Tradable</div>
      <div class="content">
        <label class="custom-checkbox">
          <input type="checkbox" v-model="tradable">
          <span></span>
        </label>
      </div>
      <div class="clear"></div>
    </div>

    <div class="info">
      <div class="label">Price</div>
      <div class="content">
        <input type="text" v-model="price">
      </div>
      <div class="clear"></div>
    </div>

    <div class="btn_wrap">
      <a href="userInfo.html" class="back">Back</a>
      <a href="#" class="submit" @click="submitUp">Submit</a>
    </div>

    <!-- <div v-if="uploadMsg == 'success uploading'">
      <br>
      <p>File ID is:</p>
      <p v-text="fileID"></p>
    </div> -->

    <div v-if="uploadMsg === 'success uploading'" class="dialog">
      <div class="dialog_content">
        <p>File ID is:</p>
        <p v-text="fileID"></p>

        <div class="button">
          <a href="#" @click="backUpload">Back</a>
        </div>
      </div>
    </div>




  </div>
  <!-- Main part -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/vue.js"></script>
  <script src="./js/main.js"></script>



</body>

</html>