<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserInfo</title>
  <link rel="stylesheet" href="css/index.css">
  <style>
    body {
      width: 1200px;
    }
  </style>
</head>

<body>
  <h2>Meta File World State</h2>

  <nav>
    <div class="right_nav" id="nav">
      <a href="userInfo.html" class="blueNav">User</a>
      <span>|</span>
      <a href="userIndex.html">Home</a>
      <span>|</span>
      <a href="login.html" class="red" @click="logoutSystem">Logout</a>
    </div>
  </nav>


  <h3>Contact Address</h3>

  <!-- Main part -->
  <div class="user_info" id="app">


    <div class="address_wrap">
      <div class="address_info">
        <p class="info_label">Token：</p>
        <p class="info_content blue" v-text="tokenAddr"></p>
        <div class="clear"></div>
      </div>
      <div class="address_info">
        <p class="info_label">File Sharing：</p>
        <p class="info_content blue" v-text="fileAddr"></p>
        <div class="clear"></div>
      </div>
    </div>

    <div class="user_wrap">
      <div class="section1">
        <div class="user_img">
          <img src="images/profile.jpg" alt="">
        </div>

        <div class="user_info">
          <p class="info_label">Address:</p>
          <p class="info_content blue" v-text="address"></p>
        </div>
        <div class="user_info">
          <p class="info_label">Balance:</p>
          <p class="info_content blue" v-text="balance"></p>
        </div>
        <div class="clear"></div>
      </div>

      <div class="section2">
        <div class="row">
          <div class="col">
            <button @click="withdrawMoney">Withdraw</button>
            <input type="text" v-model="moneyWithdraw">
          </div>
          <div class="col">
            <button @click="addMoney">Topup</button>
            <input type="text" v-model="moneyAdd">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="col">
            <button @click="refreshApproved">Approved</button>
            <p class="value blue" v-text="approved"></p>
          </div>
          <div class="col">
            <button @click="approveMoney">Approve</button>
            <input type="text" v-model="moneyApprove">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="col">
            <button @click="refreshAllowance">Allowance</button>
            <p class="value blue" v-text="allowance"></p>
          </div>
          <div class="col">
            <button @click="transferMoney">Transfer</button>
            <input type="text" v-model="moneyTransfer">
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="section3">
        <div class="section3_img">
          <img src="images/bag.png" alt="">
        </div>
        <div class="section3_info">
          <h3>Asset:
            <span class="line">
              <button><a href="upload.html">+</a></button>
              <button class="button_refresh" @click="refreshAsset">
                <a href="#">↺</a>
              </button>
            </span>
            <!-- <span class="line"></span> -->
          </h3>

          <div class="section3_content">
            <div class="col" v-for="(item, index) in asset">
              <a href="#" class="blue id" v-text="item.fileid" @click="oneFile(item.fileid)"></a>

              <div class="col_left">
                <a href="#" v-text="item.permission"></a>
              </div>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Main part -->


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./js/main.js"></script>



</body>

</html>