<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserIndex</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <h2>Meta File World State</h2>

  <nav>
    <div class="right_nav" id="nav">
      <a href="userInfo.html">User</a>
      <span>|</span>
      <a href="userIndex.html" class="blueNav">Home</a>
      <span>|</span>
      <a href="login.html" class="red" @click="logoutSystem">Logout</a>
    </div>
  </nav>


  <h3>Contact Address</h3>

  <!-- Main part -->
  <div class="user_info index_info" id="app">


    <div class="address_wrap">
      <div class="address_info">
        <p class="info_label">Token：</p>
        <p class="info_content blue" v-text="tokenAddr"></p>
        <div class="clear"></div>
      </div>
      <div class="address_info">
        <p class="info_label">File Sharing：</p>
        <p class="info_content blue" v-text="fileAddr"></p>
        <div class="clear"></div>
      </div>
    </div>


    <div class="search_wrap">
      <a href="#" @click="oneFile(queryID)">
        <img src="images/search.png" alt="">
      </a>
      <input type="text" class="i300" v-model="queryID">
    </div>

    <div>
      <button @click="allFile">Refresh</button>
    </div>

    <div class="file_wrap" v-for="row in allRow">
      <a href="#" class="file_info" v-for="col in row" @click="oneFile(col.id)">
        <img :src="extensionIcon[col.extension]" class="file_img" alt="">
        <p v-text="col.MeteData.filename"></p>
      </a>

    </div>

  </div>

  </div>
  <!-- Main part -->


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./js/main.js"></script>



</body>

</html>