<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserInfo</title>
  <link rel="stylesheet" href="css/index.css">
  <style>
    body {
      width: 1200px;
    }
  </style>
</head>

<body>
  <h2>Defile Archive</h2>

  <nav>
    <div class="right_nav">
      <a href="userInfo.html" class="blueNav">User</a>
      <span>|</span>
      <a href="userIndex.html">Home</a>
      <span>|</span>
      <a href="login.html" class="red">Logout</a>
    </div>
  </nav>


  <h3>Contact Address</h3>

  <!-- Main part -->
  <div class="user_info">


    <div class="address_wrap">
      <div class="address_info">
        <p class="info_label">Token：</p>
        <p class="info_content blue">0xxxxx……</p>
        <div class="clear"></div>
      </div>
      <div class="address_info">
        <p class="info_label">File Sharing：</p>
        <p class="info_content blue">0xxxxx……</p>
        <div class="clear"></div>
      </div>
    </div>

    <div class="user_wrap">
      <div class="section1">
        <div class="user_img">
          <img src="images/user.png" alt="">
        </div>

        <div class="user_info">
          <p class="info_label">Address:</p>
          <p class="info_content blue">0xxxxx……</p>
        </div>
        <div class="user_info">
          <p class="info_label">Balance:</p>
          <p class="info_content blue">92</p>
        </div>
      </div>

      <div class="section2">
        <div class="row">
          <div class="col">
            <button>Withdraw</button>
            <input type="text">
          </div>
          <div class="col">
            <button>Topup</button>
            <input type="text">
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="col">
            <button>Allowance</button>
            <p class="value blue">31</p>
          </div>
          <div class="col">
            <button>Approve</button>
            <input type="text">
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="section3">
        <h3>Asset: <button><a href="upload.html">+</a></button></h3>

        <div class="section3_content">
          <div class="col">
            <a href="#" class="blue id">1400f44-db65-11ec-866a-a21e1626d0f8</a>

            <div class="col_left">
              <a href="#">Owner</a>
              <span>|</span>
              <a href="#">Admin</a>
            </div>
          </div>
          <div class="col">
            <a href="#" class="blue id">1400f44-db65-11ec-866a-a21e1626d0f8</a>
            <div class="col_left">
              <a href="#">Reader</a>

            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>

  </div>
  <!-- Main part -->



</body>

</html>